.send-button{
        background-color: green;
        color: white;
        padding: 12px 20px;
        margin-left: 10px;
        border: none;
        border-radius: 10px;
        font-size: 15px;
        cursor: pointer;

      }
      .chat-input{
          padding: 12px 16px;
          border-radius: 10px;
          border-width: 1px;
          font-size: 15px;
          flex-grow: 1;
      }
      .chat-input-containter{
        display: flex;
        margin-bottom: 60px;
      }